# Generic stuff.
*.o
*.ko
*.mod
*.mod.c
*.cmd

# arch/riscv
arch/riscv/user/basics/basics
arch/riscv/user/hwprobe/probe
arch/riscv/supervisor/hsm/hsm.ld
arch/riscv/supervisor/hsm/hsm
arch/riscv/supervisor/hsm/config.h
arch/riscv/machine/machine

# kernel/dtm
kernel/dtm/modules.order
kernel/dtm/Module.symvers
