# Generic stuff.
*.o
*.ko
*.mod
*.mod.c
*.cmd

# arch/riscv
arch/riscv/user/basics/basics
arch/riscv/user/hwprobe/probe
arch/riscv/machine/machine
arch/riscv/kernel/hello
arch/riscv/linux/probe

# kernel/dtm
kernel/dtm/modules.order
kernel/dtm/Module.symvers
